################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MatchManager/.vs
/MatchManager/MatchManager.API/bin/Debug/net7.0
/MatchManager/MatchManager.API/logs
/MatchManager/MatchManager.API/obj
/MatchManager/MatchManager.API/Properties
*.user
/MatchManager/MatchManager.API/appsettings.Development.json
/MatchManager/MatchManager.API/appsettings.json
/MatchManager/MatchManager.Core/bin/Debug/net7.0
/MatchManager/MatchManager.Core/obj
/MatchManager/MatchManager.Data/bin/Debug/net7.0
/MatchManager/MatchManager.Data/obj
/MatchManager/MatchManager.Domain/bin/Debug/net7.0
/MatchManager/MatchManager.Domain/obj
/MatchManager/MatchManager.Infrastructure/obj
/MatchManager/MatchManager.ViewModel/obj
/MatchManager/MatchManager.ViewModel/bin/Debug/net7.0
/MatchManager/MatchManager.Infrastructure/bin/Debug/net7.0
/MatchManager/MatchManager.Data/Migrations
/MatchManager/MatchManager.Data/appsettings.json
/MatchManager/MatchManager.Common/bin/Debug/net7.0
/MatchManager/MatchManager.Common/obj
/MatchManager/MatchManager.Core/appsettings.json
/MatchManager/MatchManager.Services/bin/Debug/net7.0
/MatchManager/MatchManager.Services/obj
/MatchManager/MatchManager.Web/obj
/MatchManager/MatchManager.Web/Properties
/MatchManager/MatchManager.Web/appsettings.Development.json
/MatchManager/MatchManager.Web/appsettings.json
/MatchManager/MatchManager.Web/bin/Debug/net7.0
/MatchManager/MatchManager.Web/node_modules
/MatchManager/MatchManager.Web/package-lock.json
/MatchManager/MatchManager.API/.config/dotnet-tools.json
/MatchManager/MatchManager.API/bin/Release/net7.0
/MatchManager/MatchManager.Common/bin/Release/net7.0
/MatchManager/MatchManager.Core/bin/Release/net7.0
/MatchManager/MatchManager.Data/bin/Release/net7.0
/MatchManager/MatchManager.Domain/bin/Release/net7.0
/MatchManager/MatchManager.Infrastructure/bin/Release/net7.0
/MatchManager/MatchManager.Services/bin/Release/net7.0
/MatchManager/MatchManager.ViewModel/bin/Release/net7.0
/MatchManager/MatchManager.Web/bin/Release/net7.0
